{% extends 'base.html' %} {% block content %}

<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div style="margin-top: 40px; margin-bottom: -400px; margin-left: 700px;">
        <h1>Delete Post</h1>
          <h4>Are you sure you want to delete 
            <span class="teal-text">{{ object.title }}</span>
          </h4>
          <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Yes - Delete!" class="btn" />
            <a href="{% url 'detail' post.id %}">Cancel</a>
          </form>
      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        {% for photo in post.photo_set.all %}
        <img src="{{ photo.url }}" alt="{{ post.name }}" class="w-100 h-100"
        style="object-fit: cover; object-position: left" />
        {% empty %}
        <div class="card-panel teal-text">No Photos Uploaded Yet</div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock %}