{% extends 'base.html' %} {% block content %}



<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div style="margin-top: 40px; margin-bottom: -200px; margin-left: 700px;">
        {% if object %}
      <h1>Edit <span class="teal-text">{{object.title}}</span></h1>
      {% else %}
      <h1>Add Post</h1>
      {% endif %}
      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img
          src="https://i.imgur.com/6Axz3Hw.png"
          alt="black border photo collage"
          class="w-100 h-100"
          style="object-fit: cover; object-position: left"
        />
      </div>
      <div class="col-md-6">
        <div
          class="d-flex align-items-center h-custom-4 px-5 ms-xl-4 mt-0 pt-0 pt-xl-0 mt-xl-n5"
        >
        <form action="" method="post">
          {% csrf_token %}
          <table>
            {{ form.as_table }}
          </table>
          <input type="submit" value="Submit" class="btn" />
        </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}