{% extends 'base.html' %} {% block content %}

{% if error_message %}
<p class="red-text">{{ error_message }}</p>
{% endif %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
        <div style="margin-top: 40px; margin-bottom: -50px; margin-left: 690px;">
        <h1 style="font-family: 'Montserrat', sans-serif;">Sign Up</h1>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img
            src="https://i.imgur.com/6Axz3Hw.png"
            alt="black border photo collage"
            class="w-100 h-100"
            style="object-fit: cover; object-position: left"
          />
        </div>
        <div class="col-md-6">
          <div
            class="d-flex align-items-center h-custom-4 px-5 ms-xl-4 mt-0 pt-0 pt-xl-0 mt-xl-n5"
          >
          <form style="font-family: 'Hind', sans-serif;" method="post" action="{% url 'signup' %}">
            {% csrf_token %} {{ form.as_p }}
            <input type="submit" class="btn" value="signup" />
        </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}