{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row mt-5">
          <div class="col-md-6 text-black mt-5">
            <h1 class="mt-5" style="font-family: 'Montserrat', sans-serif;">
              <strong>
                Capture your life story with
                <span class="text-info">Vita</span>
              </strong>
            </h1>
            <p class="mt-4" style="font-family: 'Hind', sans-serif;">
                Vita is a photo sharing app that allows users to post their own photos, location, and descriptions. Today, everyone has a phone that allows them to take photos. But a lot of the time's, their taking selflies. Although that's great and all (you do you), sometimes you forget to be present in the moment of your vita. Photograph the important moments in life, or a funny moment, maybe something that makes you feel all the emotions that every human has. Imagine sitting on the edge of a cliff watching the sunset, How does that make you feel? Take a picture of that sunset and/or take a photo of you watching that sunset and remember that feeling of being up there and watching it. Document that moment, Document your vita life at that moment.
            </p>
          </div>
          <div class="col-md-6 mt-5 ml-5">
            <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Waves at Sea"
            width="340px"
            height="380px"
              ;
            />
          </div>
        </div>
      </div>
<br>
<br>
      <div>
        <img src="https://i.imgur.com/DfQ14WV.png"/>
    </div>



{% endblock %}